.header{
    text-align: left;
    height:10%;
    font-weight: 800;
    padding:2px;
    border:1px solid #333;
    background: #0b1d29;
    color:#fff;
    padding-left:30px;
    font-size: 35px;
    position:sticky;
    top:0;
    width: 100%;
}

.hidden_menu{
    padding:5px;
    background: #0b1d29;
    color:#fff;
    /* height:100vh; */
    margin-top:0;
}

.search_menu{
    padding:5px;
    background: #9cbfd6;
    color:rgb(19, 7, 7);
    /* height:100vh; */
    margin-top:0;
}
.result_menu{
    padding:5px;
    background:#fff;
    color:rgb(15, 14, 14);
    /* height:100vh; */
    margin-top:0;
}
.second{
    height:85%;
    overflow: scroll;
    overflow-x: hidden;
}
.footer{
    text-align: center;
    height:5%;
    font-weight: 400;
    padding:5px;
    border:1px solid #333;
    background: #0b1d29;
    color:#fff;
    font-size: 15px;
    position:sticky;
    bottom:0;
    width: 100%;
}
button.choosebutton{
    min-width:100px;
    height:40px;
    color:#fff;
    text-align: center;
    padding:10px;
    background-color:#0f4361;
    border-radius:15px 15px 0 0;

}

.searchcontainer{
    border:1px solid #fff;
    border-radius:15px;
    padding:5px;
}
.simpleButton{
    border-radius: 20px;
    background-color: #0f4361;
    min-width: 100px;
    height: 35px;
    color: #fff;
}
button.choosebutton:focus,button.simpleButton:focus{
    background-color: rgb(187, 228, 126);
    color: #040404;

}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius:20px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius:100%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius:100%;
    background: #4CAF50;
    cursor: pointer;
}
.filterdiv{
    border:1px solid #fff;
    padding:10px;
    margin-top: 50px;
    border-radius: 20px;
}
.resultdiv1{
    border:1px solid #9cbfd6;
    height:10%;  
    width:98%; 
    display:inline-block;
    border-bottom-style: none;
    border-radius:20px 20px 0 0;
}
.resultinternal{
    border:1px solid #9cbfd6;
    padding:5px;
    height:100%;  
    width:50%; 
    display: inline-block;
    color: #fff;
    background-color: #0f4361;
    
}
.resultinternal:focus{
    background-color: #4CAF50;

}
.resultdiv2{
    border:1px solid #9cbfd6;
    padding:10px;
    height:90%;
    width:98%;
    overflow-y: scroll;
    border-radius:0 0 20px 20px;
}
.resultcontainer{
    padding: 10px;
    border: 1px solid #9cbfd6;
    margin: 0px;
    height:25%;
    margin-bottom:12px;
    border-radius: 15px;
}
.img-size{
    width:70px;
    height:70px;
    border-radius:5px;
}
.flight{
    margin-left :20px;
    font-size:80px;
    color: #ed2a26;
}
@media only screen and (max-width: 600px) {
    .header {
        font-size:30px;
        padding:7px;
        padding-left:30px;
    }
    .flight{
        margin-left :15px;
        font-size:40px;
    }
    .search_menu{
        padding:22px;
    }
    .resultinternal{
        height:50px;
    }
    .img-size{
        width:50px;
        height:50px;
        border-radius:5px;
    }
    .result_menu{
        font-size:10px;
    }
}
